<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <wall_catalog_config>
            <wall_catalog_settings>
                <enable>1</enable>
                <width_sku>width</width_sku>
                <height_sku>height</height_sku>
            </wall_catalog_settings>
        </wall_catalog_config>
    </default>
</config>
