<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Quote\Model\Quote\Item\Repository" >
        <plugin name="CustomCartItemRepository" type="Absoft\WallCatalog\Model\Quote\Item\Repository" sortOrder="100" />
    </type>
    <type name="Magento\Catalog\Block\Product\View\Options\Type\Select" >
        <plugin name="BlockSelect" type="Absoft\WallCatalog\Block\Select" sortOrder="100" />
    </type>
    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="Change_Product_Image_In_Checkout_Cart" type="Absoft\WallCatalog\Plugin\CheckoutCart\Image" sortOrder="1"/>
    </type>
    <preference for="Magento\Checkout\Block\Cart\Item\Renderer" type="Absoft\WallCatalog\Block\Cart\Item\Renderer" />
    <preference for="Magento\Catalog\Block\Product\View\Options\Type\Select" type="Absoft\WallCatalog\Block\Product\View\Options\Type\Select" />
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Edit\Tab\Options\Type\Select" type="Absoft\WallCatalog\Block\Adminhtml\Product\Edit\Tab\Options\Type\Select" />
    <preference for="Magento\Catalog\Block\Product\View" type="Absoft\WallCatalog\Block\Product\View" />

    <type name="Magento\Quote\Api\CartItemRepositoryInterface">
        <plugin name="Save_Image_Preview" type="Absoft\WallCatalog\Plugin\ItemSave" sortOrder="1"/>
    </type>

    <preference for="Absoft\WallCatalog\Api\Data\UploadImageInterface" type="Absoft\WallCatalog\Model\UploadImage" />
</config>