<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="wall_catalog" translate="label" sortOrder="10">
            <label>Wall Catalog</label>
        </tab>
        <section id="wall_catalog_config" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Wall Catalog Config</label>
            <tab>wall_catalog</tab>
            <resource>Absoft_WallCatalog::wallcatalog_config</resource>
            <group id="wall_catalog_settings" translate="label" type="text" sortOrder="10" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="width_sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Width SKU</label>
                    <comment>This text will specified Width SKU.</comment>
                </field>
                <field id="height_sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Height SKU</label>
                    <comment>This text will specified Height SKU.</comment>
                </field>
            </group>
            <group id="custom_option" translate="label" sortOrder="91" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Add link</label>
                <comment></comment>
                <field id="options" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>active buy</label>
                    <frontend_model>Absoft\WallCatalog\Block\System\Config\Form\Field\Active</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>